.chauburji img {
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;

}
#home {
  align-content: center;
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #F2EAFF;
  color: #000;
  justify-content: left;
}
.intro img {
  border-radius: 50%;
  height: 164px;
  width: 164px;
  box-shadow: 6px 6px 16px #D7CCE5;
}
.intro {
  display: flex;
  gap: 5vw;
  margin-left: 10vw;
  grid-column: 1;
  z-index: 1;
  margin-top: 10vh;
}
.home-text {
  text-align: left;
}

.landing-text {
  margin-top: 12vh;
}
#home hr {
  margin: 1em 6rem 1em auto;
}
.invisible-break {
  display: none;
}
.project-textbox h2 {
  margin: 5vh 0;
}
@media screen and (max-width: 899px) {
  #home {
    grid-template-columns: 80% 20%;
  }
  .invisible-break {
    display: inline;
  }
  .intro {
    flex-direction: column;
  }
}
