#projects {
  background: #E8D8FF;
  color: #000;
  position: relative;
  background-size: cover;
  top: 0;
  left: 0;
  padding: 5vw;
}
.next {
  all: unset;
  font-size: 1.1rem;
  padding: 4vh 8vh;
  background: rgba(232, 216, 255);
  border-radius: 2vh;
  text-align: center;
  font-weight: 600;
  
}
.next-frame {
  display: flex; 
  justify-content: space-between;  
  flex-wrap: wrap; 
  margin-top: 15vh;
  gap: 5vh;
}
.role {
  display: flex; 
  justify-content: flex-end; 
  text-align: right
}
.summary {
  padding: 0 5vw 5vh;
  font-weight: 500;
  text-align: center;
}
.title {
  padding: 0 5vw;
  font-weight: 900;
  text-align: center;
}

  .container-custom {
    border-radius: 16px;
    background-color: #E8D8FF;
    display: flex;
    margin: 10vh 0;
    box-shadow: 12px 12px 16px #D7CCE5, -12px -12px 16px #F2EAFF;
  }
  .project-image {
    max-width: 66%;
    height: auto;
    border-radius: 16px;
  }
  .project-textbox {
    padding: 5vh;
  }

.project-page {
  max-width: 100%;
  padding: 20vh 15vw;
  color: #000;
  background-color: #F2EAFF;
}
/* .project-page p {
  padding: 0 10vw;
}
.project-page h1 {
  padding: 0 10vw;
}
.project-page h2 {
  padding: 0 10vw;
}
.project-page h3 {
  padding: 0 10vw;
}
.project-page hr {
  padding: 0 10vw;
} */
.project-page ol {
  padding: 0 5vw;
}
.project-page li {
  padding: 2vh 0;
}
.project-page img { 
  border-radius: 16px; 
  max-width: 100%;
  max-height: auto;
  border: 2px solid white;
}
figure {
  margin: 5vh 0;
}
figcaption {
  opacity: 0.6;
  text-align: center;
  margin-top: 5vh;
}
.cover {
  width: 100vw;
  height: 80vh;
  display: flex;
  padding-top: 20vh;
  background: linear-gradient(#76DEFF, #7BC3FF);
}
.cover img {
  border-radius: 1rem;
  border-style: solid;
  border-color: rgba(255,255,255,0.5);
  object-fit: cover;
  box-sizing: border-box;
  width: 126vh;

}
.cover-text {
  padding: 20vh 10vw 5vh 5vw;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .container-custom {
    flex-direction: column;
  }
  .project-image {
    max-width: 100%;
  }
  .project-page {
    padding: 20vh 6vw;
  }
  /* .project-page img { 
    margin: 5vh 0;
  } */
}
